/*
wood brown: A89F68;
army green: 41521F;
*/
.row{
	margin: 0px;
}
.navbar-inverse{
	background-color: transparent;
	border-color: transparent;
}
.back-portada-koala{
	height: 100vh;
	width: auto;
	background-image: url("../img/portada.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}
#boton1{
	background-color: #A89F68
}
#save-koala{
	margin-left: 5%;
	font-size: 15px;
}
#save-koa{
	margin-right: 5%;
	font-size: 15px;
}
ul li a{
	color: white;
}
#letters0{
	color: white;
}
#letters1{
	color: white;
}
.parrafo{
	margin-top: 10%;
}
.second-section{
	height: 800px;	
}
.third-section{
	height: 500px;
	background-color: #A89F68;
}
#picture2{
	border: 10px solid white;
}
#fondo-koala3{
	height: 100vh;
	background-image: url("../img/all.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
#letters3{
	color: white;
}
#letters4{
	color: #41521F;
}
.four-section .row{
	margin-left: 0px;
	width: 100vh;
}
.five-section{
	height: 300px;
}
.six-section{
	background-color: #A89F68;
	height: 400px; 
}
#letters5{
	color: white;
}
.seven-section{
	background-color: #41521F;
	height: 300px; 
}
.seven-section #letters6{
	color: #A89F68;
}
.parrafo2{
	margin-top: 8%;	
}
#row2{
	margin-top: 15%;
}
#row3{
	margin-top: 25%;
}

#row4{
	margin-top: 8%;
}

#row5{
	margin-top: 8%;
}
#row6{
	margin-top: 5%;
}
#row7{
	margin-top: 5%;
}
#row8{
	margin-top: 8%;
}
#row9{
	margin-top: 8%;
}